name: "Bing Crawler"

on:
  push:
     branches:   
       - master
  workflow_dispatch:
  schedule:
    - cron: '0 23 * * *'  
  
env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  build:
    name: Python Crawler
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: master # 改成存放图片的分支
    - name: init-git
      run: |
        git config --global user.name "horrordor"
        git config --global user.email "cccccc2002@outlook.com"
        git branch -a
        git fetch
        git checkout -b gh-pages origin/gh-pages
        git checkout master
        git checkout -f gh-pages -- *ml
    - name: Setup Python environment
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' 
    - name: Install Dependence
      uses: Wandalen/wretry.action@master
      with:
        command: pip install fake-useragent requests opencv-python jinja2
        attempt_limit: 3
        attempt_delay: 2000
    - name: Run 
      uses: Wandalen/wretry.action@master
      with:
        command: python bing.py
        attempt_limit: 3
        attempt_delay: 2000
    - name: list
      run: ls -R
    - name: fuck
      run: |
        git add -A
        git commit -m "fuck"
        git checkout gh-pages
    - name: commit
      run: |
        rm -r p
        rm -r pages
        git checkout -f master --  p/
        git checkout -f master --  pages/
        git checkout -f master -- *ml
        ls -R
        git commit -a -m "add pic"
    - name: push
      uses: ad-m/github-push-action@master
      with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
    - name: Failure test
      if: failure()
      run: | 
        ls -R
        echo "Error on running!"
